@import '../../../client/style/_variables.scss';

@mixin test_outline() {
  border: 1px solid rgba(0,0,0,0.2);
}

@mixin test_outline2() {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7) inset;
}

@mixin flexbox() {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

@mixin flexbox-hor() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin wordbox() {
  display: inline-block;
  box-shadow: 1px 1px 1px $drop-shadow-color;
  border: 1px solid $wordbox-border-color-outter;
  border-radius: 2px;
  background-color: $wordbox-bg-color;
  padding:2px;

  > div {
    padding: 3px;
    border: 1px solid $wordbox-border-color-inner;
    border-radius: 2px;
  }
}

@mixin panel() {
  box-shadow: 1px 1px 1px $drop-shadow-color;
  border: 1px solid $wordbox-border-color-outter;
  border-radius: 2px;
  background-color: $wordbox-bg-color;
  padding:2px 7px 4px 7px;
}

@mixin panel-margin() {
  margin: 5px;
}

@mixin fill() {
  width: 100%;
  height: 100%;
}

@mixin dev-panel() {
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.7);
}