$drop-shadow-color: rgba(0,0,0,0.2);
$wordbox-border-color-inner: rgb(100,100,100);
$wordbox-border-color-outter: lighten($wordbox-border-color-inner, 20);
$wordbox-bg-color: rgb(240,240,240);
$body-bg-color: white;

$panel-color: rgb(210,210,210);
$panel-border: rgba(0,0,0,0.8);
$shadow-color: rgba(0,0,0,0.5);
$the-blue: #4138b3;
$the-red: #9b0000;