$drop-shadow-color: rgba(0,0,0,0.2);
$wordbox-border-color-inner: rgb(100,100,100);
$wordbox-border-color-outter: lighten($wordbox-border-color-inner, 20);
$wordbox-bg-color: rgb(240,240,240);
$body-bg-color: white;