@import '../../imports/ui/home/_home.scss';
@import '../../imports/ui/dev-layout/_dev-layout.scss';
@import '../../imports/ui/dev-table/_dev-table.scss';
@import '../../imports/ui/dev-add/_dev-add.scss';
@import '../../imports/ui/dev-test/_dev-test.scss';
@import '../../imports/ui/dev-sandbox/_dev-sandbox.scss';
@import '../../imports/ui/_dev-styles.scss';
@import './_mixins.scss';

body {
  background-color: $body-bg-color;
  margin: 0;
  @include flexbox-hor();
}

.raised {
  @include panel-margin();
  @include panel();
}

.TTTTTTT {
  box-shadow: 0 0 2px rgba(0,0,0,0.5) inset, 0 0 2px rgba(255,255,255,0.5);
}