  .debate {
  text-align: center;

  .sidebar {
    position: absolute;
    left: 0;
    top: calc(50vh - 100px);
    border: 1px black solid;
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
    border-radius: 4px;
  }

  .canvasShell {
    padding: 1px;
    background: grey;
    display: inline-block;
    margin: 0 auto;
    margin-top: 15px;

    .canvasWrapper {
      position: relative;

      #debateCanvas {
        background: white;
        display: block;
      }
    }

    .post {
      background: rgba(230,230,230,0.9);
      position: absolute;
      border: 1px black solid;
      border-radius: 4px;
      box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
      padding: 2px;
      /*top and left are set programmatically*/
      top: 0;
      left: 0;

      .flagBox {
        cursor: pointer;
        float: right;
        color: rgba(0,0,0,0.5);
        padding: 0 5px 0 5px;
        border: 1px rgba(0,0,0,0.5) solid;
      }

      .flagBox:hover {
        color: black;
        border: 1px black solid;
      }

      .author, .content {
        border: 1px rgba(0,0,0,0.3) solid;
        border-radius: 2px;
        float: left;
        padding: 0 4px 0 4px;
        background-color: white;
      }

      .author {
        margin-bottom: 2px;
        display: inline-block;
      }

      .content {
        display: block;
        clear: both;
        text-align: left;
      }
    }
  }
}