  .debate {
  text-align: center;

  .logoDiv {
    cursor: pointer;
    position: fixed;    
    top: -15px;
    left: -15px;


    .panel {
      background-color: $the-red;
      border-radius: 0 0 32px 0;
      box-shadow: 0 0 3px $panel-border inset, -2px 2px 3px $shadow-color;
      display: inline-block;
      padding: 11px 11px 11px 11px;

      .inner-panel {
        box-shadow: 0 0 3px $panel-border;
        background-color: white;
        border-radius: 0 0 25px 0;
        display: inline-block;
        padding: 7px 7px 7px 7px;

        .imgDiv {
          display: inline-block;
          background-image: url(/img/logo2darker200.png);
          background-repeat: no-repeat;
          background-size: 100px;
          background-position: right bottom;
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .sidebar {
    position: fixed;
    left: -23px;
    bottom: -26px;

    .panel {
      background-color: $the-red;
      border-radius: 5px;
      box-shadow: 0 0 3px $panel-border inset, -2px 2px 3px $shadow-color;
      display: inline-block;
      padding: 11px 11px 11px 11px;

      .inner-panel {
        box-shadow: 0 0 3px $panel-border;
        background-color: lighten($panel-color,6);
        border-radius: 3px;
        display: inline-block;
        padding: 7px 7px 7px 7px;

        .form-shell {
          display: inline-block;
          padding: 2px 2px 2px 2px;
          background-color: darken($panel-color, 3);
          border-radius: 3px;
          box-shadow: 0 0 3px $panel-border inset;
          text-align: center;

          .form-box {
            background-color: lighten($panel-color,6);
            box-shadow: 0 0 3px $panel-border inset;
            border-radius: 2px;
            display: inline-block;
            padding: 8px 10px 4px 10px;

            .replyBoxElicitor {
              width: 160px;
            }

            h2 {
              padding-top: 0;
              margin-top: 0;
              margin-bottom: 0px;
            }

            form {
              margin-top: 10px;
              display: inline-block;
              text-align: center;

              > * {
                float: left;
                clear: both;
                margin-bottom: 3px;
              }

              .formBtnShell {
                position: relative;
                display: block;
                width: 100%;

                #submitMotion {
                  background-color: white;
                  border: 1px black solid;
                  display: block;
                  clear: left;
                  float: center;
                  margin: 0px auto;
                }

                #flagOptionBtn {
                  position: absolute;
                  right: 0;
                  top: 1px;
                  cursor: pointer;

                  -webkit-touch-callout: none; 
                  -webkit-user-select: none; 
                  -khtml-user-select: none;
                  -moz-user-select: none;  
                  -ms-user-select: none; 
                  user-select: none; 
                }
              }
            }
          }
        }
      }
    }
  }

  #flagOptionBox {
    display: none;
    position: fixed;
    background-color: white;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
    width: 200px;
    bottom: 10px;
    left: 220px;
    border: 1px black solid;
    text-align: left;

    .flagTDiv {
      display: inline-block;
      margin: 1px;

      .flagName {
        cursor: pointer;
        display: inline-block;
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none;
        -moz-user-select: none;  
        -ms-user-select: none; 
        user-select: none;    
      }

      .colorBlock {
        display: inline-block;
        width: 15px;
      }
    }
  }

  .canvasShell {
    padding: 1px;
    background: grey;
    display: inline-block;
    margin: 0 auto;
    margin-top: 15px;

    .canvasWrapper {
      position: relative;

      #debateCanvas {
        background: white;
        display: block;
      }
    }

    .flagModal {
      display: none;
      position: absolute;
      background-color: white;
      box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
      width: 300px;
      height: 100px;
      top: 0;
      left: 0;
      border: 1px black solid;
    }

    .post {
      background: white;
      position: absolute;
      border: 1px black solid;
      border-radius: 4px;
      box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
      padding: 2px;
      /*top and left are set programmatically*/
      top: 0;
      left: 0;

      .flagBox {
        cursor: pointer;
        float: right;
        color: rgba(0,0,0,0.5);
        padding: 0 5px 0 5px;
        border: 1px rgba(0,0,0,0.5) solid;
        margin-left: 1px;
      }

      .flagBox:hover {
        color: black;
        border: 1px black solid;
      }

      .author, .content {
        border: 1px rgba(0,0,0,0.3) solid;
        border-radius: 2px;
        float: left;
        padding: 0 4px 0 4px;
        background-color: white;
      }

      .author {
        margin-bottom: 2px;
        display: inline-block;
      }

      .content {
        display: block;
        width: calc(100% - 10px);
        clear: both;
        text-align: left;
      }

      .respondBtn {
        color: rgba(0,0,0,0.5);
        display: inline-block;
        padding: 0 5px 0 5px;
        cursor: pointer;
        float: right;
        margin-top: 2px;
        border: 1px rgba(0,0,0,0.5) solid;
      }

      .respondBtn:hover {
        color: black;
        border: 1px black solid;
      }
    }
  }
}