.layout-dev {
  margin: 5px;
  @include test_outline2();
  width: 1326px;

  .invisible {
    float: left;
    padding: 5px;
    margin: 1px;
  }
  .outline {
    @include test_outline2();
  }
  .top {
    height: 20px;
  }
  .mid {
  }
  .bottom {
    height: 20px;
  }
  .left, .right  {
    width: 250px;
  }
  .center {
    width: 790px;
  }
  .center-right {
    width: 1050px;
  }
  .inner {
    @include dev-panel();
  }
  .header {
    text-align: center;
  }
  .butn {
    cursor: pointer;
  }
}