


table.dataTable td {
  overflow: hidden;
  padding-left: 10px;
  box-shadow: 0 0 1px black inset;
}

table.dataTable {
  table-layout: fixed;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination li {
  display: inline-block;
  margin: 5px;
}