.sandbox {
  .outmost {
    @include flexbox-hor();
  }
  .whole-shell {
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5) inset, 0 0 2px rgba(255,255,255,0.5);
  }
  canvas {
    background: rgb(210,210,210);
    display: block;
  }
}