@import '../../../client/style/_mixins.scss';

.home {
  .clear-shell {
    width: 1000px;
    margin: 0 auto;

    .header {
      background-image: url(/img/logo50.png);
      background-repeat: no-repeat;
      height: 205px;
    }

    .panel {
      border-radius: 5px;
      padding: 11px;

      .inner-panel {
        padding: 11px;
        border-radius: 3px;
        overflow: hidden;
        text-align: center;

        .list-shell {
          display: inline-block;
          overflow: hidden;
          padding: 11px;

          .second {

          }

          .list-panel {
            width: 400px;
            float: left;

            .list-header-box {
              margin:11px;
            }

            ul {
              list-style-type: none;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .clear-shell {
      width: 95%;
      display: inline-block;

      .panel {
        display: inline-block;

        .inner-panel {
          display: inline-block;

          .list-shell {
            display: inline-block;
            margin: 0 auto;
            .list-panel {
              float: none;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    .clear-shell {
      width: 100%;
    }
  }
}