@import '../../../client/style/_mixins.scss';
@import '../../../client/style/_variables.scss';

.home {
  width: 100vw;

  .clear-shell {
    width: 1000px;
    margin: 0 auto;

    .header {
      background-image: url(/img/logo50.png);
      background-repeat: no-repeat;
      height: 205px;

      .login {
        float: right;
        margin-top: 4px;

        button {
          background:none;
          border: 1px $the-blue solid;
          color: black;
        }

        .login-related {
          float: right;
          margin-top: 7px;

          #signup-span {
            margin-right: 13px;
          }

          #signup-span, #forgotP {
            cursor: pointer;
            color: $the-blue;
          }
        }
      }
    }

    .panel {
      background-color: $the-red;
      border-radius: 5px;
      padding: 11px;
      box-shadow: 0 0 3px $panel-border inset, -2px 2px 25px $shadow-color;

      .inner-panel {
        box-shadow: 0 0 3px $panel-border;
        background-color: lighten($panel-color,6);
        padding: 11px;
        border-radius: 3px;
        overflow: hidden;
        text-align: center;

        .list-shell {
          background-color: darken($panel-color, 3);
          border-radius: 3px;
          box-shadow: 0 0 3px $panel-border inset;
          display: inline-block;
          overflow: hidden;
          padding: 7px;

          .list-panel {
            background-color: $the-blue;
            border-radius: 3px;
            box-shadow: 0 0 3px $panel-border inset;
            width: 400px;
            float: left;
            overflow: hidden;

            hr {
              width: 80%
            }

            .list-header-box {
              background-color: lighten($panel-color,10);
              border-radius: 3px;
              box-shadow: 0 0 3px $panel-border inset;
              margin:11px;
            }

            .list-box {
              border-radius: 3px;
              box-shadow: 0 0 3px $panel-border inset;
              background-color: lighten($panel-color,10);
              margin: 0px 11px 0px 11px;

              ul {
                padding-top: 5px;
                margin-left: -41px;
                list-style-type: none;
                overflow: hidden;

                li {
                  padding: 0 10px 0 10px;
                }
              }

            }
          }

          .list-panel-spacer {
            float: left;
            width: 7px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .home {
    .clear-shell {
      width: 90%;

      .panel {

        .inner-panel {

          .list-shell {

            .list-panel {
              width: 700px;
              float: none;
              clear: left;

              .list-header-box {
                display: inline-block;
                width: 90%;
              }
            }
            .list-panel-spacer {
              clear: both;
              height: 4px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .home {
    .clear-shell {

      .panel {

        .inner-panel {

          .list-shell {

            .list-panel {
              width: 600px;

              .list-header-box {

              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .home {
    .clear-shell {

      .header {
        background-size: 120px;;
        height: 125px;

        .login {

          #login > * {
            display: block;
            float: right;
            clear: both;
            margin-top: 1px;
          }

          .login-related {
            margin-top: 0;

            > * {
              display: block;
              float: right;
              clear: both;
            }

            #signup-span {
              margin-right: 0;
            }
          }
        }
      }

      .panel {

        .inner-panel {

          .list-shell {

            .list-panel {
              width: 400px;

              .list-header-box {

              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .home {
    .clear-shell {

      .panel {
        padding: 3px;

        .inner-panel {
          padding: 3px;

          .list-shell {
            padding: 3px;

            .list-panel {
              width: 255px;

              .list-header-box {
                margin: 3px;
                width: 70%;

              }
            }
          }
        }
      }
    }
  }
}